# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/

# VS
.vs
*.sdf
*.opensdf
*.vcxproj.user
*.opendb


#IntelliJ CLion
.idea/

#Eclipse stuff
.project
.checkstyle
.settings
.cproject

#CodeLite stuff
.codelite
*.project
*.workspace
